
html {
  font-family: 'Inter', sans-serif;    
  color: rgb(46, 46, 46);
  scroll-behavior: smooth; 
}

body {
  margin:0;
}

a {
  text-decoration: none;
}

h3 {
  font-size: 22pt;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.5rem;
  font-weight: 300;
}

h5 {
  font-size: 1rem;
  margin: 2vh 0;
}

.gradient-background {
  background: linear-gradient(300deg, #00ABFF, #1358DD);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.gradient-button {
  width: auto;
  padding: 1rem 2rem;
  border-radius: 5rem;
  border: 0;
  background: linear-gradient(300deg, #00ABFF, #1358DD);
  color: white;
  font-size: 12pt;
  transition: filter 0.3s;
  cursor: pointer;
  display: inline-block;
}

.gradient-button:hover {
  filter: brightness(1.2); 
}

.top-button {
  padding: 1rem;
  border-radius: 100%;
  font-size: 0;
  background: linear-gradient(300deg, #34383a, #030303);
  position: fixed;
  bottom: 3vh;
  right: 3vh;
}

@media only screen and (max-width: 600px) {

  h4{
    font-size: 1.8rem;
  }

  h3{
    font-size: 1.5rem;
  }
}